<div class="container showFollow">
  <div>
    <h1 class="text-white">My shows</h1>
  </div>
  <div class="mat-accordionDiv">


    <mat-accordion class="accordion-show">
      <mat-expansion-panel class="collapse-show">
        <mat-expansion-panel-header>
          <mat-panel-title>
            This is the expansion title
          </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-accordion>
          <mat-expansion-panel class="collapse-season">
            <mat-expansion-panel-header>
              <mat-panel-title>
                This is the expansion title
              </mat-panel-title>
              <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card class="card-episode">Simple card</mat-card>
          </mat-expansion-panel>
          
        </mat-accordion>
        

      </mat-expansion-panel>
    </mat-accordion>


  </div>
</div>