.container {
  background-color: #03030370;
}
.collapse-show {
  background-color: rgba(128, 128, 128, 0.596) !important;
}
.collapse-season {
  background-color: rgba(128, 128, 128, 0.596) !important;
}
.card-episode {
    background-color: rgba(128, 128, 128, 0.596) !important;
  }
