<div class="container showFollow">
  <div>
    <h1 class="text-white">My shows</h1>
  </div>
  <div class="mat-accordionDiv">


    <mat-accordion class="accordion-show">
      <mat-expansion-panel class="collapse-show">
        <mat-expansion-panel-header>
          <mat-panel-title>
            ShowName
          </mat-panel-title>
          <mat-panel-description>
            x Season
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-accordion>
          <mat-expansion-panel class="collapse-season">
            <mat-expansion-panel-header>
              <mat-panel-title>
                This is the expansion title
              </mat-panel-title>
              <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card class="card-episode">Simple card</mat-card>
          </mat-expansion-panel>

        </mat-accordion>


      </mat-expansion-panel>


      <mat-expansion-panel class="collapse-show">
        <mat-expansion-panel-header>
          <mat-panel-title>
            ShowName
          </mat-panel-title>
          <mat-panel-description>
            x Season
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-accordion>
          <mat-expansion-panel class="collapse-season">
            <mat-expansion-panel-header>
              <mat-panel-title>
                This is the expansion title
              </mat-panel-title>
              <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card class="card-episode">
              
              <div class="row">
                  <mat-card-header class="col-10">
                    Simple card
                  </mat-card-header>

                  <div>
                  <fa-layers [fixedWidth]="true" style="cursor:pointer" (click)="markEpisode(1)"> 
                      <fa-icon [icon]="faEye" [styles]="{ 'color': '#57A8EF'}"
                          data-toggle="tooltip" data-placement="top" title="mark this episode" size="lg">
                      </fa-icon>
                  </fa-layers>
                </div>
                <div class="ml-1">
                    <fa-layers [fixedWidth]="true" style="cursor:pointer" (click)="markEpisode(1)"> 
                  <fa-icon [icon]="faEyeSlash" [styles]="{ 'color': '#FD7D7B'}"
                    data-toggle="tooltip" data-placement="top" title="unmark this episode" size="lg">
                </fa-icon>
              </fa-layers>
              </div>
                </div>

             
            </mat-card>

          </mat-expansion-panel>

        </mat-accordion>

        <mat-action-row>
            <fa-layers [fixedWidth]="true" style="cursor:pointer" (click)="unFollowShow(1)"> 
                <fa-icon [icon]="faTrash" [styles]="{ 'color': '#FD7D7B'}"
                    data-toggle="tooltip" data-placement="top" title="unfollow this show" size="small">
                </fa-icon>
                
            </fa-layers>
          </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>


  </div>
</div>