<div class="container showFollow ">
  <div>
    <h1 class="text-white">My shows</h1>
  </div>
  <div class="mat-accordionDiv">


    <mat-accordion class="accordion-show ">

      <mat-expansion-panel id="show{{show.value.information.id}}" class="collapse-show" *ngFor="let show of (followedShow | keyvalue : originalOrder)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{show.value.information.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{(show.value.seasons | keyvalue).length}} seasons
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--seasons-->
        <mat-accordion>
          <!--one season-->
          <mat-expansion-panel class="collapse-season" *ngFor="let season of (show.value.seasons | keyvalue : originalOrder)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div *ngIf="season.value.name != '' else elseBlock">Season number {{season.value.numberSeasonInshow}}:{{season.value.name}}</div>

                <ng-template #elseBlock>Season number {{season.value.numberSeasonInshow}}</ng-template>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card class="mt-1" [ngClass]="{'card-episode-seen': isSeen(episode.value.id),'card-episode-unseen': !isSeen(episode.value.id)}" id="card{{episode.value.id}}"  *ngFor="let episode of (season.value.episodes | keyvalue : originalOrder)">

              <div class="row">
                <mat-card-header class="col-5">
                  S{{season.value.numberSeasonInshow}}:E{{episode.value.episodeNumber}}
                  {{episode.value.name}}

                </mat-card-header>
                <mat-card-content class="col-5">
                  <ng-template #popContent>

                    <div class="row">
                      <div class="col-md-8">
                        <p class="text-black">
                          <b>{{episode.value.name}}</b>
                        </p>
                        <p [innerHTML]="episode.value.summary"></p>

                      </div>
                      <div class="col-md-4">
                        <img src={{episode.value.urlMediumImage}} alt="">
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #popTitle>
                    <p class="text-black">{{episode.value.name}}  </p>
                  </ng-template>
                  <button type="button" class="btn summary-button" [ngbPopover]="popContent" [popoverTitle]="popTitle"
                    triggers="mouseenter:mouseleave">
                    summary
                  </button>
                </mat-card-content>
                <div id="episode{{episode.value.id}}">
                <div [hidden]="isSeen(episode.value.id)" id="mark{{episode.value.id}}">
                  <fa-layers   [fixedWidth]="true" style="cursor:pointer" (click)="markEpisode(episode.value.id,show.value.information.id)">
                    <fa-icon [icon]="faEye" [styles]="{ 'color': 'rgba(34, 114, 219, 0.801)'}" data-toggle="tooltip" data-placement="top"
                      title="mark this episode" size="lg">
                    </fa-icon>
                  </fa-layers>
                </div>

                
                <div [hidden]="!isSeen(episode.value.id)" id="unmark{{episode.value.id}}">
                  <fa-layers  [fixedWidth]="true" style="cursor:pointer" (click)="unMarkEpisode(episode.value.id,show.value.information.id)">
                    <fa-icon [icon]="faEyeSlash" [styles]="{ 'color': 'rgba(196, 41, 41, 0.644)'}" data-toggle="tooltip"
                      data-placement="top" title="unmark this episode" size="lg">
                    </fa-icon>
                  </fa-layers>
                </div>

            </div>
              </div>


            </mat-card>

          </mat-expansion-panel>

        </mat-accordion>

        <mat-action-row>
          <fa-layers [fixedWidth]="true" style="cursor:pointer" (click)="unFollowShow(show.value.information.id)">
            <fa-icon [icon]="faTrash" [styles]="{ 'color': '#FD7D7B'}" data-toggle="tooltip" data-placement="top"
              title="unfollow this show" size="small">
            </fa-icon>

          </fa-layers>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>


  </div>
</div>
<app-loading-screen *ngIf="load"></app-loading-screen>