@import "node_modules/bootstrap/scss/bootstrap.scss";
html,body{
    background-image: url(http://cdn.wallpaperhi.com/1920x1080/20130117/breaking%20bad%20walter%20white%20jesse%20pinkman%20heisenberg%201920x1080%20wallpaper_www.wallpaperhi.com_43.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 